<div *ngIf='isloaded && !error'>       
    <div class='service-details row'>
        <div class='cw-cover'>
         <div class='cw-message'>
           {{cw_message}}
         </div>
         <div class='cw-score'>
           <div class='score-head'>CLEARWATER SCORE</div>
           <div class='score-val'>{{cw_score.current}}</div>
         </div>
         <div class='cw-values'>
           <ul>
             <li>
               <div class='det-value cw-value good'>{{cw_score.organizationGoal}}</div>
               <div class='det-label cw-label'>Organizational<br>goal</div>
             </li>
             <li>
                 <div class='det-value cw-value good'>{{cw_score.organizationAverage}}</div>
                 <div class='det-label cw-label'>Organization<br>Average</div>
             </li>
             <li>
               <div class='det-value cw-value error'>{{cw_obj.warnings}}</div>
               <div class='det-label cw-label'>Total<br>warnings</div>
             </li>
             <li>
               <div class='det-value cw-value error'>{{cw_obj.errors}}</div>
               <div class='det-label cw-label'>Total<br>errors</div>
             </li>   
            
           </ul>
         </div>
        </div>
    </div>
    <div class="separator-row"></div>
    <div class='service-details row' *ngIf='detailView && !congratulations'>
      <div class='cw-top-part'>
        <div class='warning-chk custom-cb'>
            <input type="checkbox" id="checkbox-cw" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false" [checked]="warningSelected" (change)="warningSelected = !warningSelected">
            <label for="checkbox-cw"></label>
            <div class="cb-status-dets">Hide Warnings</div>    
        </div>
        <div class='cw-search-wrap'>

            <search-box #searchbox (onChange)="onCWsearch($event)"></search-box> 
            <span title='Collapse all' *ngIf='expandText == "Collapse all"' class="icon-Collapse-All expandbtn" (click)='collapseall()'></span>
            <span title='Expand all' *ngIf='expandText == "Expand all"' class="icon-Expand-All expandbtn" (click)='expandall()'></span>
            <span class='pointer refresh icon-icon-refresh' title="Refresh" (click)='refresh()' height="19"></span>

        </div>
      </div>
      <div class='cw-errors-cover'>
        <table-template class="table-container log-table-container clear-water relative" [message]="errMessage" [state]="loadingState" [type]="'accordian'" [showPaginationtable]="paginationSelected" [header]="tableHeader">
            <div class="table-row-wrp" [class.bbn]='row.status == "warning" && warningSelected' *ngFor="let row of cw_results | myfilter:search_bar; let i = index" [class.expanded]="row.expanded">
            <div class="table-row" *ngIf='row.status == "error" || !warningSelected' (click)="onRowClicked(row, i)">
              <div class="column visible">{{row.heading}}
                <span class='{{row.status}}'>{{row.status}} </span><span class='right'>{{row.issues.length}} issue<span *ngIf='row.issues.length > 1'>s</span></span>
              </div>         
            </div>        
            <div *ngIf='row.status == "error" || !warningSelected' class="table-row-expanded">
              <div class='sub-row'>
                <div>{{row.description}}</div>
                <div class='{{row.status}} score-cw'>Reduces your score by {{row.score}}</div>
              </div>
              <table class='cw-table bordered'>
                <thead>
                  <tr>
                    <th>MESSAGE</th><th>LOCATION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let each of row.issues'>
                    <td>
                      {{each.message}}
                    </td>
                    <td>
                      {{each.location}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <btn-jazz-primary text="View Details" class="view-details right" [class.invisible]="isLoading" (click)='detailView = !detailView;viewDetails(row)'></btn-jazz-primary>
      
            </div>
          </div>
        </table-template>
      </div>
    </div>
    <div class='service-details row congrats' *ngIf='detailView && congratulations'>
      Congratulations! This API has no issues
    </div>
    <div class='service-details row' *ngIf='!detailView'>
      <div class='back-search-cover'>
          <span class='icon-icon-back' (click)='detailView = !detailView'></span><span (click)='detailView = !detailView' class='inside-back'>Back</span>
          <search-box #searchbox (onChange)="onCWDetailsearch($event)"></search-box>
      </div>
              
    
        <div class="column visible">{{oneObject.heading}}
            <span class='{{oneObject.status}}'>{{oneObject.status}} </span><span class='right'>{{oneObject.issues.length}} issue<span *ngIf='oneObject.issues.length > 1'>s</span></span>
          </div> 
        <div class="table-row-expanded show">
            <div class='sub-row'>
              <div>{{oneObject.description}}</div>
              <div class='{{oneObject.status}} score-cw'>Reduces your score by {{oneObject.score}}</div>
            </div>
            <table class='cw-table bordered'>
              <thead>
                <tr>
                  <th>MESSAGE</th><th>LOCATION</th>
                </tr>
              </thead>
              <tbody class='not-fixed'>
                <tr *ngFor='let each of oneObject.issues| myfilter:searchDetail_bar;'>
                  <td>
                    {{each.message}}
                  </td>
                  <td>
                    {{each.location}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>

<div *ngIf='!isloaded' class="empty-row with-refresh relative hgt">
    <div class="loading-row" [class.show]="!isloaded">
        <div class="loading-circle"></div>
    </div>
</div>

<div  *ngIf='isloaded && error' class="service-details empty-row with-refresh relative hgt">
    <div class="icon-icon-server-error">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
    </div>
    <div class='oops'>Oops!</div><br>
    <div>Something went wrong while fetching your data<br><a (click)="getData()">REFRESH</a> to give it another try.</div>
    <br><div class='ctc-us'>If the problem persists, <a (click)='reportIssue()'> contact us</a>.</div>
</div>


