<div class='bar-cover relative' [class.removepadding]="isloaded == 'popup'">
  <div *ngIf='isloaded == "default"'>
    <div class='relative'>
      <div class='service-name'>{{service.name}}</div>
      <div class='icon-icon-close closeicon pointer' (click)='closeBar()'></div>
    </div>

    <section class="sidebar-details">
      <div class='sidebar-summary' (click)="summaryClicked('top')">
        <div class='icon-icon-up rotate-90' [class.rotate-180]="publishBody1"></div>
        <div class="summary-text">Evaluate</div>
      </div>
      <div class='publish-body'  [class.bodyshow]="publishBody1">
        <div class='json-cover' *ngIf='isloaded == "default"'>
          <div readonly id="target" class="line-numbers">
            <div *ngFor="let value of lineNumberCount; let i = index">{{i + 1}}</div>
          </div>
          <textarea id="source" (scroll)='ontextareaScroll()' [(ngModel)]='swagger_json' (ngModelChange)="lineNumbers()"
            class='json-input-area'></textarea>
        </div>
        <div class='btn-cover'>
          <a class='primary pointer' (click)='formatJSON()'>FORMAT JSON</a>
          <btn-jazz-primary class='primary' text='EVALUATE' (click)='EvaluateJSON()'></btn-jazz-primary>
        </div>
        <p *ngIf="!valid" class="jz-text-error">{{validityMessage}}</p>
      </div>
    </section>
    <section class="sidebar-details">
        <div class='sidebar-summary' (click)="summaryClicked('bottom')">
            <div class='icon-icon-up rotate-90' [class.rotate-180]="publishBody2"></div>
            <div class="summary-text">Publish</div>
        </div>
        <div class="publish-body" [class.bodyshow]="publishBody2">
          <div class='publish-sections'>
            <div class="publish-sections-header">
              Description
            </div>
            <div class="publish-sections-textinput">
              <textarea placeholder="Enter Description" rows="5" type="text" class="textForm textForm-area" [(ngModel)]='notesInput'></textarea>
            </div>
          </div>
          <div class='publish-sections'>
            <btn-jazz-primary class='primary' [disablePrimaryBtn]="ispublishing" text='{{publishBtnText}}' (click)='publish()'></btn-jazz-primary>
          </div>

        </div>
    </section>

  </div>

</div>
