@import './../../../main-styles';
@import './../../pages/services-list/services-list.component.scss';
@import './../../pages/clear-water/clear-water.component.scss';

.sidebar-wrp .sidebar-inr {
  overflow-y: hidden;
}

.bar-cover {
  min-height: 100vh;
  min-width: 47rem;
  right: 0;
  z-index: 2;
  border: 2px solid #efefef;
  padding: 7rem 3.5rem 2.5rem 2.5rem;
  ;
  background-color: #efefef;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);


}

.empty-row-default {
  position: relative;
  text-align: center;
  padding: 3rem 1.25rem;
  top: 25%;
  font-size: 18px;
  font-weight: 500;
}


.btn-cover {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;

  a {
    margin: 0.5rem 0;
  }
}

.close-icon {
  position: absolute;
  right: 1REM;
  top: 1rem;
  font-size: 1.2rem;
  color: #ed008c;
}

.sidebar-loading {
  height: 100%;
  overflow-y: hidden;
}

.empty-row {
  position: absolute;
  top: 40%;
  left: 50%;

  .loading-row {
    background: transparent;

  }
}

.cw-cover {
  flex-direction: column;
}

.cw-top-part {
  display: flex;
  justify-content: space-between;
}

.cw-message {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem 0;
  font-weight: bold;
}

.cw-score {
  width: 100%
}

.cw-values {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
  }

  li {

    display: flex;
    flex-direction: column;

    // height: 2rem;
    div {
      // border:1px solid black;

    }
  }
}

.fg-overlay {
  position: absolute;
  top: 40%;
  text-align: center;
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  font-size: 1.5rem;
}

.removepadding {
  padding: 0;
}

.no-btn {
  margin: 1rem;
}

btn-jazz-primary {
  /deep/button.btn-primary {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

.closeicon {
  font-size: 1.2rem;
  color: #ed008c;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    transform: rotate(90deg);
    transition: 0.15s transform;
  }
}

.bk-btn {
  /deep/button.btn-primary {
    margin: 1rem auto !important;
    display: block !important;
  }
}

.json-cover {
  display: flex;
  max-height: 50vh;
  margin: 1rem 0;
  font-size: 1rem;

  >div {
    background: #2b343e;
    overflow-y: hidden;
  }

  .json-input-area {
    width: 100%;
    background: #2b343e;
    color: #ddd;
    overflow-y: scroll;
  }

}

.line-numbers {
  border-radius: 5px 0 0 5px;
  width: 4rem;
  padding: 2px 2px 2.5rem 2px;
  color: #ddd;
  text-align: right;
}

.details {
  border:1px solid #333;
  summary::-webkit-details-marker {
    color: #ed008c !important;
    font-size: 120% !important;
    margin: 7px 1rem 0 0 !important;
  }
}
.sidebar-summary{
  &:hover{
    color:#ed008c;
  }

  display: flex;
  align-items:center;
  outline:none;
  cursor:pointer;
  font-size: 1.4rem;
}
.summary-last-child{
  // margin: 15px 0 0rem 0;
}

// .det-value-input
// {
//     width:70%;
//     border: none;
//     border-bottom: 1px solid #ccc;
//     height: 20px !important ;
//     margin:0;
//     text-overflow: ellipsis;
// }
.publish-body{
  margin-bottom: 1rem;
  visibility: hidden;
  display:none;
  height: 0;
  opacity:0;
  max-height: 0;
  .publish-sections{
    &:last-child{
      display:flex;
      justify-content: flex-end;
    }

    .publish-sections-header{
      margin:1.5rem 0 0.5rem 0;
      font-weight: bold;

    }
    .summary-2nd{
      margin-top:1.5rem;
    }
    .publish-sections-textinput{
      .det-value-input{
        border: 1px solid #ccc;
        border-radius: 7px;
        width:100%;
      }
      .det-text-area{
        height: 8rem;
      }

    }
  }
}
.icon-icon-up{
  margin-right: 1rem;
  color:#ed008c;

}
.bodyshow{
  display: block;
  visibility: visible;
  height: auto;
  opacity:1;
  max-height:1000px;
  transition:all 0.3s;

}
.rotate-90{
  transform: rotate(90deg);
  transition: all 0.3s;
  font-size:1rem;
}
.rotate-180{
  transform: rotate(180deg);
  transition: all 0.3s;
  font-size:1rem;
}
.sidebar-details{
  border-top:1px solid #bbb;
  padding: 1rem 0;
}
.service-name{
  font-size:2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.textForm-area{
  height:5rem !important;
  padding:10px;
}
